build/
OMT/src/libomt_dec.c
*.d
*.o
*.pc
build/x86_64/bin/ffmpeg
build/x86_64/bin/ffplay
build/x86_64/bin/ffprobe
*.a
*.a
*.a
*.sh
build/x86_64/lib/libavcodec.a
build/x86_64/lib/libavdevice.a
build/x86_64/lib/libavfilter.a
build/x86_64/lib/libavformat.a
build/x86_64/lib/libavutil.a
build/x86_64/lib/libswresample.a
build/x86_64/lib/libswscale.a
*.a
build/x86_64/lib/libavdevice.a
*.html
*.sh
ffmpeg
ffmpeg_g
ffplay
ffplay_g
ffprobe
ffprobe_g
*.version
*.dylib
OMT/lib/libomt.dylib
OMT/lib/libvmx.dylib
resources/libomt.dylib
resources/libvmx.dylib
config.h
config.asm
build/x86_64/share/man/man1/ffmpeg-all.1
build/x86_64/share/man/man1/ffmpeg-devices.1
build/x86_64/share/man/man1/ffplay-all.1
build/x86_64/share/man/man1/ffprobe-all.1
build/arm64/bin/ffmpeg
build/arm64/bin/ffprobe
build/x86_64/bin/ffmpeg
build/x86_64/bin/ffplay
build/x86_64/bin/ffprobe
build.sh
ffmpeg.log
OMT/src/libomt_common.h
OMT/src/libomt_dec.c
OMT/src/libomt_enc.c
